extends layouts/base 
block content 
	section.content-header
		h1
			| Page Header
			small Optional description
		ol.breadcrumb
			li
				a(href='#')
					i.fa.fa-dashboard
					|  Level
			li.active Here
	section.content.container-fluid
		| Your Page Content Here