script(type='text/javascript', src='/adminlte/bower_components/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/adminlte/dist/js/adminlte.min.js')